* {
    margin: 0;
    padding: 0;

    font-family: "Garamond";
}

.page {
    background-color: rgb(224, 162, 178);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: black;
}


/*********************** MAIN ********************/

main {
    margin: 2rem 0;
    flex-grow: 1;
}

main h1 {
    text-align: center;
}

main h2 {
    text-align: center;
}

/*                      RESULTS                   */ 

#box-result {
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 2rem auto;
    text-align: center;
}

#boxCode {
    color: darkcyan;
}

#open-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.note {
    height: 10vh;
    font-size: 2rem;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
}

.note:nth-child(odd) {
    background-color: lightblue;
    float: left;
}

.note:nth-child(even) {
    background-color: lightgreen;
    float: right;
    align-self: flex-end;
}

/*                      MENU                   */ 

.menu {
    width: 100%;
    text-align: center;
}

.menu > h1 {
    font-size: 4rem;
}

.menu > ul {
    list-style-type: none;
}

.menu > ul > li {
    height: 25vh;
    width: 100%;
    
    display: table;
}

.menu > ul > li:nth-child(1) {
    background-color: orange;
}

.menu > ul > li:nth-child(2) {
    background-color: lightblue;
}

.menu > ul > li:nth-child(3) {
    background-color: purple;
}

.menu > ul > li > a {
    color: black;
    width: 100%;
    height: 100%;

    vertical-align: middle;
    display: table-cell;

    font-size: 3rem;
}

.menu > ul > li > a:hover {
    border: 3px solid white;
}

/*                      FORM                        */

form {
    background-color: lightblue;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.button {
    margin: 1rem;
    padding: auto;
}

.errors {
    color: red;
    font-size: 1rem;
}

/*********************** FOOTER ********************/

footer {
    color: gray;

    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}