* {
    --border-width: 1.5px;
    --border-radius: 5px;
    --req-color: rgb(255, 0, 0);
    --error-color: rgb(255, 0, 0);
    --slider-bg: gray;
    /* --input-color: linear-gradient(45deg, var(--color-prim2) 50%, var(--color-prim1));var(--color-prim2); */
    --input-color: var(--color-prim2);
    --button-color: var(--color-prim1);
    --button-border-color: var(--color-sec2);
}

hr {
    border-width: 2px;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*********************** FORM ********************/

form h1 {
    font-size: 2em;
    color: var(--color-prim1);
}

form h2, form label {
    font-size: 1.5em;
    color: var(--color-text);
}

req {
    color: var(--req-color);
    font-size: 1.5em;
}

label {
    margin-bottom: 0.25em;
    display: block;
}

input, button, .button, textarea {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/*********************** TEXT INPUT ********************/

input, textarea {
    width: 50%;
    margin-bottom: 1em;
    outline: none;
    color: var(--color-text);
    opacity: 0.9;
    border: var(--border-width) solid var(--color-prim1);
    border-radius: var(--border-radius);
    background: var(--input-color);
}

input:focus, textarea:focus {
    opacity: 1;
}

textarea {
    resize: none;
    height: 3em;
}

/*********************** BUTTON ********************/

input[type=button], input[type=submit], button, .button {
    color: var(--color-bg1);
    opacity: 0.9;
    background-color: var(--button-color);
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    
    margin-bottom: 0.25em;
    border: 0;
    border-radius: var(--border-radius);
}

input[type=button]:hover, input[type=submit]:hover, button:hover, .button:hover {
    opacity: 1;
}

/*********************** ERRORS ********************/
.errors {
    list-style-type: none;
}

.errors > li {
    font-size: 1em;
    color: var(--error-color);
}