* {
    --border-width: 2px;
    --border-radius: 5px;
    --req-color: rgb(255, 0, 0);
    --error-color: rgb(255, 0, 0);
    --slider-bg: gray;
    --input-color: var(--color-sec1);
    --button-color: var(--color-prim2);
    --button-border-color: var(--color-sec2);
}

hr {
    border-width: 2px;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*********************** FORM ********************/

form {
    padding: 2em;
    border-radius: 25px;
    color: var(--color-prim2);
    background-color: var(--color-bg2);
    margin: auto;
    width: 50%;
}

form * {
    font-size: 1.5em;
}

form h1 {
    font-size: 2em;
    text-align: center;
}

form h2 {
    font-size: 1.5em;
    text-align: center;
}

req {
    color: var(--req-color);
    font-size: 1.5em;
}

label {
    margin-bottom: 0.25em;
    display: block;
}


/*********************** TEXT INPUT ********************/

input[type=text], input[type=datetime-local], textarea {
    width: 50%;
    padding: 0.25em;
    margin-bottom: 1em;
    outline: none;
    border: var(--border-width) solid var(--input-color);
    border-radius: var(--border-radius);
    background-color: var(--input-color);
}

/*********************** BUTTON ********************/

input[type=button], input[type=submit], button, .button {
    color: #000;
    background-color: var(--button-color);
    cursor: pointer;
    text-align: center;
    
    padding: 0.5rem;
    margin-bottom: 0.25em;
    border: 0px;
    border-radius: var(--border-radius);
}

input[type=button]:hover, input[type=submit]:hover, button:hover, .button:hover {
    opacity: 1;
}

/*********************** ERRORS ********************/
.errors {
    list-style-type: none;
}

.errors > li {
    font-size: 1em;
    color: var(--error-color);
}