* {
    margin: 0;
    padding: 0;

    font-family: "Garamond";
    --color-bg1: #0C1821;
    --color-prim1: #FFFF44;
    --color-prim2: #00A5A5;
    --color-text: #ffffff;
    --color-sec: #777777;
    --border-radius-bg: 10px;
}

body {
    background-color: var(--color-bg1);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--color-prim1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    color: var(--color-prim1);
}

p {
    font-size: 1.25rem;
}

a {
    color: var(--color-prim2);
    font-size: 1.25rem;
}

a.button {
    text-decoration: none;
}

/*********************** HEADER ********************/

header {
    position: fixed;
}

.logo {
    background: white;
    width: 5vw;
    min-width: 60px;

    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-bg);
}

.logo a img {
    width: 100%;
}

/*********************** MAIN ********************/

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container {
    padding: 1rem 0 1rem 20vw;
    border: 1px solid var(--color-prim1);
    border-left: none;
    border-right: none;
}

#starting {
    width: 50vw;
    align-self: center;
    font-size: 5em;
    border-radius: var(--border-radius-bg) !important;
    text-decoration: none;
}

/*                      RESULTS                   */ 

#box-result {
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 2rem auto;
    text-align: center;
}

#open-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.note {
    min-height: 10vh;
    font-size: 2rem;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color-bg2);
    border-radius: var(--border-radius-bg);
}

/*********************** FOOTER ********************/

footer {
    color: white;

    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

#contacts {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#contacts > a > img {
    width: 30px;
    margin: 0 0.5rem; 
}

#copyright {
    margin-top: 1rem;
}