* {
    margin: 0;
    padding: 0;

    font-family: "Garamond";
    --color-bg1: #0C1821;
    --color-bg2: #2D3047;
    --color-sec1: #00A9A5;
    --color-sec2: #E9B44C;
    --color-prim2: #FFF333;
    --border-radius-bg: 10px;
}

body {
    background-color: var(--color-bg1);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0.25rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--color-prim2);
}

/*********************** HEADER ********************/

header {
    position: fixed;
}

.logo {
    background: white;
    width: 5vw;
    min-width: 60px;

    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-bg);
}

.logo a img {
    width: 100%;
}

/*********************** MAIN ********************/

main * {
    color: var(--color-prim2);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container {
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-self: center;
    background: var(--color-bg2);
    border-radius: var(--border-radius-bg);
}

#starting {
    width: 50vw;
    align-self: center;
    font-size: 5em;
    border-radius: var(--border-radius-bg) !important;
}

/*                      RESULTS                   */ 

#box-result {
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 2rem auto;
    text-align: center;
}

#open-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.note {
    min-height: 10vh;
    font-size: 2rem;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
    background-color: var(--color-bg2);
    border-radius: var(--border-radius-bg);
}

/*********************** FOOTER ********************/

footer {
    color: white;

    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

footer #contacts {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

footer #contacts > a > img {
    width: 50px;
    margin: 0 1rem; 
}

footer #copyright {
    margin-top: 1rem;
}