* {
    margin: 0;
    padding: 0;

    font-family: "Garamond";
}

body {
    background-color: rgb(224, 162, 178);
}

.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: none;
}

.container {
    box-shadow: 0px 1px 8px gray;
    border-radius: 0.5rem;
}

/*********************** HEADER ********************/

header {
    position: fixed;
}

.logo {
    background: white;
    width: 5vw;
    min-width: 60px;

    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: .5rem;
}

.logo a img {
    width: 100%;
}

/*********************** MAIN ********************/

main {
    flex-grow: 1;
}

main > h1, main > h2 {
    text-align: center;
}

/*                      RESULTS                   */ 

#box-result {
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 2rem auto;
    text-align: center;
}

#boxCode {
    color: darkcyan;
}

#open-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.note {
    height: 10vh;
    font-size: 2rem;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
}

.note:nth-child(odd) {
    background-color: lightblue;
    float: left;
}

.note:nth-child(even) {
    background-color: lightgreen;
    float: right;
    align-self: flex-end;
}

/*                      MENU                   */ 

.menu {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    /* for phones */

    .menu {
        flex-direction: column;
        height: 100vh;
    }

    .menu-item > svg {
        height: 60%;
    }
}

.menu-item {
    flex: 1;
    transition: flex-grow 0.5s ease;
}

#left {
    background-color: orange;
}

#right {
    background-color: lightblue;
}

.menu-item:hover {
    flex-grow: 2;
}

/*                      FORM                        */

form {
    background-color: lightblue;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.button {
    margin: 1rem;
    padding: auto;
}

.errors {
    color: red;
    font-size: 1rem;
}

/*********************** FOOTER ********************/

footer {
    color: white;

    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

footer #contacts {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

footer #contacts > a > img {
    width: 50px;
    margin: 0 1rem; 
}

footer #copyright {
    margin-top: 1rem;
}