<footer>
    <hr>
    <div id="contacts">
        <a href="https://github.com/ANDREYDEN" target="_blank" class="cell">
            <img src="/github.png" alt="github">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100009060491417" target="_blank" class="cell">
            <img src="/facebook.png" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/in/andrii-denysenko-52176716b/" target="_blank" class="cell">
            <img src="/linkedin.png" alt="linkedin">
        </a>
        <a href="https://twitter.com/CuteManhole" target="_blank" class="cell">
            <img src="/twitter.png" alt="twitter" style="border-radius: 8px;">
        </a>
    </div>

    <div id="copyright">
        &copy <%= new Date().getFullYear() %>, Andrii Denysenko
    </div>
</footer>