<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Box of Notes</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/form.css">
    </head>
    <body>
        <div class="page">
            <%- include ../parts/header -%>
            
            <main>
                <h1>Main Menu</h1>
                <div class="menu">
                    <a class="container menu-item" href="/newBox">
                        <svg width="70%" height="75%">
                            <rect x="0" y="0" rx="20" ry="20" width="100%" height="100%" />
                        </svg>
                        <h2>New Box</h2>
                    </a>
                    <a class="container menu-item" href="/newNote">
                        <svg width="70%" height="75%">
                            <rect x="0" y="0" rx="20" ry="20" width="100%" height="100%" />
                        </svg>
                        <h2>New Note</h2>
                    </a>
                    <a class="container menu-item" href="/openBox">
                        <svg width="70%" height="75%">
                            <rect x="0" y="0" rx="20" ry="20" width="100%" height="100%" />
                        </svg>
                        <h2>Open a box</h2>
                    </a>
                </div>
            </main>
            
            <%- include ../parts/footer -%>
        </div>
    </body>
</html>