<%- include ../parts/header -%>

<main>
    <div class="menu">
        <a class="menu-item" id="left" href="/newBox">
            <h2>Create new box</h2>
        </a>
        <a class="menu-item" id="right" href="/openBox">
            <h2>Open a box</h2>
        </a>
    </div>
</main>

<%- include ../parts/footer -%>