<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="js/main.js"></script>
    </head>
    <body>
        <header>
        </header>
        
        <main>
            <h1>A new box was added successfully</h1>
            <p>The box Code is <b><%= boxCode %></b></p>
            <a href="/">Back to Main Menu</a>
        </main>
        
        <footer>
        </footer>
    </body>
</html>