<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/form.css">
    </head>
    <body>
        <div class="page">
            <header>
            </header>
            
            <main>
                <h1>A new box was added successfully!</h1>
                <div id="box-result">
                    <h2>Your Box Code: <b id="boxCode"><%= boxCode %></b></h2>
                    <h2>A URL for adding notes: <b id="url">localhost:8000/addNote/<%= boxCode %></b></h2>
                </div>

                <a href="/" class="button">Back to Main Menu</a>
            </main>
            
            <%- include ../parts/footer -%>
        </div>
    </body>
</html>