<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/form.css">
    </head>

    <body>
        <div class="page">
            <header>
            </header>
    
            <main>
                <h1>A new note was added successfully</h1>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/">Back to Main Menu</a>
                        </li>
                    </ul>
                </div>
            </main>
    
            <%- include ../parts/footer -%>
        </div>
    </body>
</html>